div.navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 150px;
    height: 100%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
    gap: 8px;
    z-index: 1000;
}

p.navbar {
    font-size: 15px;
    padding: 10px;
    cursor: grab;
}

p.logout {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    color: red;
}